	
	/*MAIN PAGE GRIDS*/

	.wrapper {
		border: 2px solid;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
   		grid-template-rows: repeat(6, 100px);
	}


	.box1 {
		border: 2px solid red;
		grid-column-start: 1;
   		grid-row-start: 4;
   		grid-row-end: 7;
	}

	.box2 {
		border: 2px solid red;  
		grid-column-start: 3;
	/*	grid-column-end: 3;*/
		grid-row-start: 3;
		grid-row-end: ; 
		background-color: 
	
	}

	.box3 {
		border: 2px solid red;
		grid-column-start: 3;
   		grid-row-start: 4;
   		grid-row-end: 7;
		background-color: 
	}

	.box4 {
		grid-column-start: 1;
		grid-column-end: 4;
   		grid-row-start: 1;
   		grid-row-end: 1;
		background-color: 
	 }

	.box5 {
		border: 2px solid red;
		grid-column-start: 2;
		grid-row-start: 3;
   		grid-row-end: 7;
		border-radius: 100%;
		background-image: url("los.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		}

	.box6 {
		border: 2px solid red;
		grid-column-start: 1;
		grid-row-start: 3;
   		grid-row-end: 4;
   		background-color: 
	}

	.box7 {
		border: 2px solid red;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 
   		grid-row-end: 
   		background-color: 
	}


/*	ABOUT ME GRIDS*/

.container {
	border: 2px solid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
   	grid-template-rows: repeat(4, 100px);
	}


 .aboutbox1 {
 	border: 2px solid red;
	grid-column-start: 1;
   	grid-row-start: 2;
   	grid-row-end: 5;
 }

 .aboutbox2 {
 	border: 2px solid red;
	grid-column-start: 3;
   	grid-row-start: 2;
   	grid-row-end: 5;
 }

/* .aboutbox3 {
 	border: 2px solid red;
	grid-column-start: 1;
	grid-column-end: 4;
   	grid-row-start: ;
   	grid-row-end: ;
 }*/

 .aboutbox4 {
 	border: 2px solid red;
	grid-column-start: 2;
   	grid-row-start: 1;
   	grid-row-end: 5;
 }

 /*.aboutbox5 {
 	border: 2px solid red;
	grid-column-start: ;
   	grid-row-start: ;
   	grid-row-end: ;
 }

 .aboutbox6 {
 	border: 2px solid red;
	grid-column-start: ;
   	grid-row-start: ;
   	grid-row-end: ;
 }*/

 		/*INTERESTS/HOBBIES*/

 .container2 {
		border: 2px solid;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
   		grid-template-rows: repeat(5, 100px);
	}

	.intbox1 {
 	border: 2px solid red;
	grid-column-start:;
   	grid-row-start:;
   	grid-row-end:;
 }

 	.intbox2 {
 	border: 2px solid red;
	grid-column-start:;
   	grid-row-start: 
   	grid-row-end:;
 }

 	.intbox3 {
 	border: 2px solid red;
	grid-column-start:;
   	grid-row-start:;
   	grid-row-end:;
 }

 	.intbox4 {
 	border: 2px solid red;
	grid-column-start:;
   	grid-row-start:;
   	grid-row-end:;
 }







